<html class="admin">
	{{#if user}}
	{{set this "admin" true}}
	{{> head.hbs}}

	<header>
		<h1>Posts</h1>
		<a href="/editor"><dttw-icon id="new" class="material-icons">note_add</dttw-icon></a>
		<dttw-icon id="theme-switcher" class="material-icons">invert_colors</dttw-icon>
	</header>

	<main>
		{{#each (allPosts)}}
		<div class="post">
			<span post="{{guid}}" visible="{{visible}}" class="status-bar {{#if visible}}visible{{else}}hidden{{/if}}"></span>

			{{#with (getAuthorInfo author)}}
			<img class="author-image small" src="{{image.url}}" />
			{{/with}}

			<span class="title">{{title.text}}</span>
			<a href="/preview/{{guid}}"><dttw-icon class="material-icons" id="view">pageview</dttw-icon></a>
			<a href="/editor/{{guid}}"><dttw-icon class="material-icons" id="edit">edit</dttw-icon></a>
		</div>
		{{/each}}
	</main>
	{{else}}
		{{> no-admin.hbs}}
	{{/if}}
</html>
