<html class="admin">
	{{#if user}}

	{{#if content}}
		{{set this "info" (fetchpost content)}}
	{{/if}}

	{{set this "admin" true}}
	{{#if info}}
		{{set this "title" (concat "Editing: " info.title.text)}} 
	{{else}}
		{{!-- Will not update live with save --}}
		{{set this "title" "Editing New Post"}}
	{{/if}}
	{{> head.hbs}}
	<body>
		<header>
			<a href="/admin"><dttw-icon id="back" class="material-icons">arrow_back</dttw-icon></a>
			
			{{#if info}}
			<h1>Editing "{{info.title.text}}"</h1>
			{{else}}
			<h1>Create New Post</h1>
			{{/if}}

			<dttw-icon id="theme-switcher" class="material-icons">invert_colors</dttw-icon>
		</header>

		<main>
			<input type="text" id="title" {{#if info}}value="{{info.title.text}}"{{/if}} placeholder="Post Title" autocomplete="off" />
			<div id="editor">{{#if info}}{{fetchcontent info.guid}}{{/if}}</div>
			<input type="text" id="tags" value="{{#if info}}{{#each info.tags}}{{this}} {{/each}}{{/if}}" placeholder="Tags"/>

			<footer>
				<span id="status"></span>
				<input id="visible" type="checkbox" {{#if info}}{{#if info.visible}}checked{{/if}}{{/if}} />
				<label for="visible">Visible</label>
				<button id="submit">{{#if info}}Update{{else}}Save{{/if}}</button>
			</footer>
		</main>
	</body>

	{{else}}
		{{> no-admin.hbs}}
	{{/if}}
</html>
