<html>
	{{> head.hbs}}
	<body>
		{{> header.hbs}}
		<content-row>
			<main>
				{{#if currtag}}
				<div class="tagged">Posts Tagged with "{{currtag}}"</div>
				{{/if}}
				{{#each (posts index currtag)}}
				
				{{> post.hbs}}
				
				{{/each}}
				{{#if currtag}}
				{{else}}
				{{#if (notTop index)}}<a href="/page/{{dec index}}">{{/if}}<button class="btn left btn-default btn-lg {{#if (atTop index)}}disabled{{/if}}"><i class="zmdi zmdi-hc-3x zmdi-long-arrow-left"></i></button>{{#if (notTop index)}}</a>{{/if}}
				{{#if (notBottom index)}}<a href="/page/{{inc index}}">{{/if}}<button class="btn right btn-default btn-lg {{#if (atBottom index)}}disabled{{/if}}"><i class="zmdi zmdi-hc-3x zmdi-long-arrow-right"></i></button>{{#if (notBottom index)}}</a>{{/if}}
				{{/if}}
			</main>
			<aside>
				{{#each (sidebar)}}
				<article>
					<h1>{{title}}</h1>
					{{content}}
				</article>
				{{/each}}
				<article>
					<h1>Tags</h1>
					{{#each (tags)}}
						{{tag this}}&nbsp;&nbsp;
					{{/each}}
				</article>
			</aside>
		</content-row>
	</body>
</html>
