<html>
{{> head.hbs}}

<body>
	{{> header.hbs}}
	<content-row>
		<main>
			{{#if filter}}
				{{#if (eq filter.type "author")}}
					Posts by {{filter.author.name}}

				{{else if (eq filter.type "tag")}}
					Posts tagged "{{filter.tag}}"

				{{/if}}
			{{/if}}

			{{#each posts}}
				{{> post.hbs}}
			{{/each}}

			{{#with pagination}}
				{{#if left}}
					<a href= {{left}}>
						<button class="pagination left">
							<dttw-icon class="material-icons">arrow_back</dttw-icon>
						</button>
				{{/if}}

				{{#if right}}
					<a href= {{right}}>
						<button class="pagination right">
							<dttw-icon class="material-icons">arrow_forward</dttw-icon>
						</button>
				{{/if}}
			{{/with}}
		</main>
		{{> sidebar.hbs}}
	</content-row>
</body>

</html>
