<html>
	{{> head.hbs}}
	<body>
		{{> header.hbs}}
		<content-row>
			<main>
				{{#each (posts 0 5)}}
				{{#with this}}
				<article>
					{{#if title.link}}
					<h1><a class="no-display" href="{{title.link}}">{{title.text}}</a></h1>
					{{else}}
					<h1>{{title.text}}</h1>
					{{/if}}
					
					<time>{{longtime timestamp}}</time>
					
					{{#if preview}}
					<img class="preview-image" src="{{preview}}" />
					{{/if}}
					
					{{#with (author author) as |postAuthor|}} 
					{{#if postAuthor.image}}
					<div class="author-image" style="background-image: url('{{postAuthor.image}}');" data-author-name="{{postAuthor.name}}"></div>
					{{else}}
					<div class="author-image" style="background-image: url('/images/default.png');" data-author-name="{{postAuthor.name}}"></div>
					{{/if}}
					{{/with}}
					
					{{{loadcontent timestamp}}}
					
					{{#if tags}}
					<footer>
						Tags: {{#each tags}}{{tag this}}{{/each}}
					</footer>
					{{/if}}
				</article>
				{{/with}}
				{{/each}}
			</main>
			<aside>
				{{#each content.sidebar}}
				<article>
					<h1>{{title}}</h1>
					{{content}}
				</article>
				{{/each}}
			</aside>
		</content-row>
	</body>
</html>
