<article>
	{{#if title.url}}
	<h1><a class="no-display" href="{{title.url}}">{{title.text}}</a></h1>
	{{else}}
	<h1>{{title.text}}</h1>
	{{/if}}

	<time>{{longtime timestamp}}</time>

	{{!--
	{{#if preview}}
	<img class="preview-image" src="{{preview}}" />
	{{/if}}
	--}}

	{{#with (getAuthorInfo author)}} 
	
	{{#if image.url}}
	<div class="author">
		<img class="author-image" src="{{image.url}}" />
		<div class="author-name">{{displayName}}</div>
	</div>
	{{else}}
	<div class="author">
		<img src="/images/default.png" />
		<div class="author-name">{{displayName}}</div>
	</div>
	{{/if}}
	
	{{/with}}

	<div class="body">
		{{#if single}}
		{{{loadcontent timestamp}}}
		{{else}}
		{{{abbreviate (loadcontent timestamp)}}}
		{{/if}}
	</div>

	{{#if single}}
	{{else}}
	{{expand timestamp}}
	{{/if}}
	
	{{#if tags}}
	<footer>
		Tags: {{#each tags}}{{tag this}}{{/each}}
	</footer>
	{{/if}}
	
	{{#if single}}
	{{> disqus.hbs timestamp}}
	{{/if}}
	
</article>