<article>
	<h1>
	{{#if title.url}}
		<a class="no-display" href="{{title.url}}">{{title.text}}</a>
	{{else}}
		{{title.text}}
	{{/if}}
	<span class="category">
		in
		{{#each category}}{{#if @first}}<a href="/category/{{this}}" class="no-display">{{this}}</a>{{else}}, <a href="/category/{{this}}" class="no-display">{{this}}</a>{{/if}}{{else}}
			<a href="/category/other" class="no-display">Other</a>
		{{/each}}
	</span>
	</h1>

	<time>{{formatTime timestamp}}</time>

	{{#with author}}
		<div class="author">
			{{#if image.url}}
				<img class="author-image" src="{{image.url}}" />
			{{else}}
				<img class="author-image" src="/images/default.png" />
			{{/if}}

			<div class="author-name">{{displayName}}</div>
		</div>
	{{/with}}

	<div class="body">
		{{#if short}}
			{{markdown (short content)}}
		{{else}}
			{{markdown (full content)}}
		{{/if}}
	</div>

	{{#if short}}
		<div class="expand">
			<a class="no-line" href="/posts/{{guid}}">Read More <dttw-icon class='material-icons'>arrow_forward</dttw-icon></a>
		</div>
	{{/if}}

	{{#if tags}}
		<footer>
			Tags:
			{{#each tags}}{{tag this}}{{/each}}
		</footer>
	{{/if}}

	{{#if (and (not hideComments) (not short))}}
		{{> disqus.hbs guid}}
	{{/if}}
</article>
