<html>
{{#if user}}
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/editor.js"></script>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/editor.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>

		{{#with this as |ctx|}}
		{{#with (fetchpost content) as |info|}}

		<header>
			{{#if ctx.content}}
				<h1>Editing {{ctx.content}}</h1>
			{{else}}
				<h1>Create New Post</h1>
			{{/if}}

			<i id="theme-switcher" class="material-icons">invert_colors</i>
		</header>

		<div id="post-container">
			<input type="text" id="title" value="{{info.title.text}}" placeholder="Title" />
			<hr/>
			<input type="text" id="tags" value="{{#each info.tags}}{{this}} {{/each}}" placeholder="Tags"/>
			<hr/>
			<div id="editor">{{#if ctx.content}}{{fetchcontent ctx.content}}{{/if}}</div>

			<div class="footer">
				<button id="submit">Submit</button>
			</div>
		</div>

		{{/with}}
		{{/with}}
	</body>

{{else}}
	You must be <a href="/google/login">logged in</a> to use this page
{{/if}}
</html>
