<html>
{{#if user}}
	{{set this "editor" true}}
	{{> head.hbs}}
	<body>
		{{#with (fetchpost content) as |info|}}

		<header>
			{{#if content}}
				<h1>Editing {{content}}</h1>
			{{else}}
				<h1>Create New Post</h1>
			{{/if}}

			<dttw-icon id="theme-switcher" class="material-icons">invert_colors</dttw-icon>
		</header>

		<div id="post-container">
			<input type="text" id="title" {{#if content}}value="{{info.title.text}}"{{/if}} placeholder="Post Title" autocomplete="off" />
			<div id="editor">{{#if content}}{{fetchcontent content}}{{/if}}</div>
			<input type="text" id="tags" value="{{#each info.tags}}{{this}} {{/each}}" placeholder="Tags"/>
			
			<div class="footer">
				<button id="submit">Submit</button>
			</div>
		</div>
		
		{{/with}}
	</body>

{{else}}
	You must be <a href="/google/login">logged in</a> to use this page
{{/if}}
</html>
